[build]
command = "npm run build"
publish = "apps/barberos-site/.next"

[dev]
command = "npm run start"
targetPort = 4200

[[plugins]]
package = "@netlify/plugin-nextjs"

[build.environment]
# cache Cypress binary in local "node_modules" folder
# so Netlify caches it
CYPRESS_CACHE_FOLDER = "../node_modules/.CypressBinary"
# set TERM variable for terminal output
TERM = "xterm"

[[plugins]]
package = "@netlify/plugin-local-install-core"
