.footer {
  background-color: #555555;
  color: #ffffff;
  @apply mt-12 py-4;
}

.title {
  color: #aaaaaa;
  @apply font-bold text-xl text-center;
}

.links {
  @apply list-none list-outside p-0;

  li {
    @apply w-full my-2 text-center;
  }
}

.copyright {
  @apply text-xs text-center mt-2;
}
