@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&family=Oxygen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  --bar-default-font-family: Oxygen, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --bar-title-font-family: Cairo, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  font-family: var(--bar-default-font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bar-title-font-family);
  font-weight: bold;
}

h1 {
  @apply text-center text-3xl mb-4;
}

h4 {
  @apply flex flex-row text-center justify-center text-xl mt-6 mb-4;

  img {
    @apply align-middle mr-2;
  }
}

p {
  @apply text-justify;

  &.notice {
    @apply text-center;
  }
}

.form-actions {
  @apply w-full text-right;
}

.form-result-message {
  @apply text-sm mr-2;
}

.contact-line {
  @apply flex mt-4;

  div:first-child {
    @apply w-10 px-2;

    img {
      @apply w-6;
    }
  }

  & div:last-child {
    @apply flex-1 leading-normal;
  }
}

.offer-line {
  @apply flex flex-col lg:flex-row mt-10 items-center;

  img {
    @apply w-32 lg:mr-12;
  }

  div {
    h4 {
      @apply mb-4;
    }

    p {
      @apply text-gray-700;
    }
  }
}

.offer-line.offer-line-even {
  @apply lg:flex-row-reverse;

  img {
    @apply lg:mr-0 lg:ml-12;
  }
}

em {
  @apply text-bar-red-500 not-italic;
}

a {
  @apply border-0 border-b border-solid border-bar-red-500 text-bar-red-500 transition;

  &:focus,
  &:hover {
    @apply border-bar-red-200 duration-200 ease-in;
  }

  &.undecorated {
    @apply border-b-0 text-current;
  }
}

ul.bar-list {
  @apply list-none;

  li::before {
    @apply inline-block h-3 w-3 -ml-4 mr-2 bg-cover;
    content: '';
    background-image: url(/icons/item.svg);
  }
}

* {
  box-sizing: border-box;
}
